[submodule "ThirdParty/external/assimp"]
	path = ThirdParty/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ThirdParty/external/DirectXTex"]
	path = ThirdParty/external/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "ThirdParty/external/DirectXTK"]
	path = ThirdParty/external/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
