ThirdParty/.vs/
ThirdParty/Output/
ThirdParty/x64/
_woma.pack
_woma.pck
DXENGINE_*.txt
REPORT.txt
ENGINE_*.txt
my.ip
myip.txt
present.weather
.vs
x64
ThirdParty/DirectXTK/Bin/Desktop_2013/x64/Release/
WoMAsetup*.exe
redist/
redist_d/
CoreEngine_Tutorials/CoreEngine_000_OSENGINE_SYSTEM/Android1/Android1.NativeActivity/ARM64/**
CoreEngine_Tutorials/CoreEngine_000_OSENGINE_SYSTEM/LinuxWoma/engine/**
CoreEngine_Tutorials/CoreEngine_000_OSENGINE_SYSTEM/Android1/Android1.Packaging/ARM/
CoreEngine_Tutorials/CoreEngine_000_OSENGINE_SYSTEM/Android1/Android1.Packaging/ARM64/
