<generalsettings>
    <screen uiMonitor="0" fullScreen="true" posX="0" posY="0" width="1920" height="1080" allowResize="true" vsync="true" bitsPerPixel="32"/>
    <driver name="DX11" UseAllMonitors="false" useDoubleBuffering="true"/>
    <texture maxTexture="1024" bilinear="true" trilinear="false" Anisotropic="false" AnisotropicLevel="16"/>
    <sound music="false" effects="false"/>
</generalsettings>
